{"web":{"client_id":"500790695209-i6bj9cfe5gsjhhkhh2evnqslv26nul4h.apps.googleusercontent.com","project_id":"tonal-works-443319-t3","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","issuer": "https://accounts.google.com","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_secret":"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","redirect_uris":["http://127.0.0.1:5000/authorize"]}}
